<div class="admins-list">
  <div class="admins-list-header">
    <h1 class="admins-title title">Administrators</h1>
    <div class="admins-list-buttons">
      <button type="button" class="header-button admins-del-selected btn btn-danger" disabled>Delete Selected</button>
      <button type="button" class="header-button admins-add-admin btn btn-primary">Add Administrator</button>
    </div>
  </div>
  <div class="alerts-container"></div>
  <div class="admins-container">
    <div class="admins-list-header">
      <div class="label label-warning toggle-hidden no-select">Administrators</div>
    </div>
  </div>
</div>
