<div class="dashboard container">
  <div class="status-container">
    <table>
      <tbody>
        <tr>
          <td class="status-item orgs-status">
            <h3 class="status-title title">
              <span class="status-icon glyphicon glyphicon-tower"></span>
              Organizations
            </h3>
            <div class="status-text title">
              <span class="status-num">2/2</span> organizations available
            </div>
          </td>
          <td class="status-item users-status">
            <h3 class="status-title title">
              <span class="status-icon glyphicon glyphicon-user"></span>
              Users
            </h3>
            <div class="status-text title">
              <span class="status-num">8/24</span> users online
            </div>
          </td>
          <td class="status-item servers-status">
            <h3 class="status-title title">
              <span class="status-icon glyphicon glyphicon-cloud"></span>
              Servers
            </h3>
            <div class="status-text title">
              <span class="status-num">2/2</span> servers online
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="log-container">
    <h2 class="log-title title">
      Recent log entries
    </h2>
    <div class="log-entry-list">
      <div class="log-entry">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Deleted users.
        </div>
        <div class="log-date">
          03:57 pm - Sep 15, 2013
        </div>
      </div>
      <div class="log-entry">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Created new user.
        </div>
        <div class="log-date">
          03:45 pm - Sep 15, 2013
        </div>
      </div>
      <div class="log-entry">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Deleted users.
        </div>
        <div class="log-date">
          03:42 pm - Sep 15, 2013
        </div>
      </div>
      <div class="log-entry">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Created new user.
        </div>
        <div class="log-date">
          03:38 pm - Sep 15, 2013
        </div>
      </div>
      <div class="log-entry">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Deleted users.
        </div>
        <div class="log-date">
          03:35 pm - Sep 15, 2013
        </div>
      </div>
      <div class="log-entry">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Created new user.
        </div>
        <div class="log-date">
          03:32 pm - Sep 15, 2013
        </div>
      </div>
      <div class="log-entry last">
        <span class="log-icon glyphicon glyphicon-record"></span>
        <div class="log-msg">
          Created new organization.
        </div>
        <div class="log-date">
          03:36 pm - Sep 15, 2013
        </div>
      </div>
    </div>
  </div>
</div>
