<div class="dashboard container">
  <div class="status-container">
    <table>
      <tbody>
        <tr>
          <td class="status-item orgs-status">
            <h3 class="title">
              <span class="status-icon glyphicon glyphicon-tower"></span>
              Organizations
            </h3>
            <span class="status-num title">2/2</span> organizations aviable
          </td>
          <td class="status-item users-status">
            <h3 class="title">
              <span class="status-icon glyphicon glyphicon-user"></span>
              Users
            </h3>
            <span class="status-num title">8/24</span> users online
          </td>
          <td class="status-item servers-status">
            <h3 class="title">
              <span class="status-icon glyphicon glyphicon-cloud"></span>
              Servers
            </h3>
            <span class="status-num title">2/2</span> servers online
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
