<div class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Pritunl</a>
    </div>
    <div class="navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="dashboard"><a href="#/dashboard">Dashboard</a></li>
        <li class="users"><a href="#/users">Users</a></li>
        <li class="servers"><a href="#/servers">Servers</a></li>
      </ul>
      <form class="search navbar-right" role="search">
        <span class="glyphicon glyphicon-search"></span>
        <input type="text" class="form-control" placeholder="Search">
      </form>
    </div>
  </div>
</div>
