<div class="navbar navbar-inverse no-select" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand brand" href="#">pritunl</a>
      <a class="navbar-brand enterprise-brand" href="#">pritunl enterprise</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dashboard"><a href="#/dashboard">Dashboard</a></li>
      <li class="users"><a href="#/users">Users</a></li>
      <li class="servers"><a href="#/servers">Servers</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="enterprise-upgrade"><a><span class="label label-default">Upgrade to Enterprise!</span></a></li>
      <li class="enterprise-settings"><a>Enterprise</a></li>
      <li class="change-password"><a>Settings</a></li>
      <li class="logout"><a href="#/logout">Logout</a></li>
    </ul>
  </div>
</div>
