<div class="link-header">
  <div class="link-label label label-purple toggle-hidden no-select"><%- (type === 'direct' ? 'Direct' : 'Site-To-Site') + ' Link' %></div><h2 class="link-title title"><a class="no-select" data-toggle="tooltip" title="Click to open link settings"></a><span class="link-id title">(<%- id %>)</span></h2>
  <button type="button" class="link-del btn btn-danger btn-sm no-select">Delete Link</button>
  <button type="button" class="link-stop btn btn-warning btn-sm no-select">Stop Link</button>
  <button type="button" class="link-start btn btn-success btn-sm no-select">Start Link</button>
  <button type="button" class="link-rekey btn btn-primary btn-sm no-select">Rekey Link</button>
</div>
