<div class="links-upgrade">
  Upgrade to Enterprise+ for site-to-site links with IPsec
</div>
<div class="links-list">
  <div class="links-list-header">
    <h1 class="links-list-title title">Links</h1>
    <div class="links-list-buttons">
      <button type="button" class="header-button links-add-link btn btn-primary">Add Link</button>
      <button type="button" class="header-button links-add-location btn btn-primary">Add Location</button>
    </div>
  </div>
  <div class="alerts-container"></div>
  <div class="links-list-container">
    <div class="no-links">
      There are no links on this system.
    </div>
  </div>
  <button type="button" class="prev-page btn btn-primary btn-sm">Previous Page</button>
  <button type="button" class="next-page btn btn-primary btn-sm">Next Page</button>
  <div class="pages no-select">
    <div class="page-links">
      <a class="page-link first">First</a>
      <a class="page-link last">Last</a>
    </div>
  </div>
</div>
