<div class="subscribe-info form-group">
  <ul class="subscribe-list">
  </ul>
</div>
<div class="subscribe-activate-form form-group">
  <label>Enter License Key</label><br>
  <textarea class="form-control" rows="7" cols="35" spellcheck="false"></textarea>
</div>
<div class="subscribe-buttons">
  <button type="button" class="subscribe-premium btn btn-info btn-lg">Get Premium</button>
  <button type="button" class="subscribe-enterprise btn btn-info btn-lg">Get Enterprise</button>
  <button type="button" class="subscribe-promo btn btn-warning btn-lg">Enter Promo Code</button>
  <input type="text" class="subscribe-promo-input form-control" placeholder="Enter promo Code" autocapitalize="off">
  <input type="email" class="subscribe-promo-input-email form-control" placeholder="Enter email address" autocapitalize="off">
  <button type="button" class="subscribe-promo-ok btn btn-primary btn-lg">Ok</button>
  <button type="button" class="subscribe-activate btn btn-success btn-lg">Activate Subscription</button>
  <button type="button" class="subscribe-cancel btn btn-danger btn-lg">Cancel</button>
  <button type="button" class="subscribe-submit btn btn-success btn-lg">Submit</button>
</div>
