<div class="form-group">
  <div class="form-group name">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter name" data-toggle="tooltip" title="Name of location host" autofocus>
  </div>
  <div class="timeout form-group">
    <label>Timeout</label>
    <input type="number" class="form-control" placeholder="Enter timeout" data-toggle="tooltip" title="Optional, timeout for host" min="0" step="1" autocapitalize="off">
  </div>
  <div class="priority form-group">
    <label>Priority</label>
    <input type="number" class="form-control" placeholder="Enter priority" data-toggle="tooltip" title="Priority of host" min="1" step="1" autocapitalize="off">
  </div>
</div>
