<div class="form-group">
  <div class="form-group name">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter name" data-toggle="tooltip" title="Name of link" autofocus value="<%- name %>">
  </div>
</div>
<div class="ipv6-toggle toggle-form form-group">
  <label>IPv6</label>
  <div class="selector <%= ipv6 ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Connect link hosts with IPv6. All link hosts must have an IPv6 address.">
    <span class="selector-inner glyphicon glyphicon-ok"></span>
  </div>
</div>
<div class="host-check-toggle toggle-form form-group">
  <label>Host Checking</label>
  <div class="selector <%= host_check ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable advanced host to host checking to support detecting more complex network failures.">
    <span class="selector-inner glyphicon glyphicon-ok"></span>
  </div>
</div>
<div class="form-group link-action">
  <label>Action</label>
  <select class="form-control" data-toggle="tooltip" title="Action for ipsec client to take when connection issue occurs. For most configurations hold will provide the best reliability.">
    <option value="restart" <%= action === 'restart' ? 'selected' : '' %>>Restart</option>
    <option value="hold" <%= action === 'hold' ? 'selected' : '' %>>Hold</option>
  </select>
</div>
<div class="form-group">
  <div class="form-group preferred-ike">
    <label>Preferred IKE Cipher</label>
    <input type="text" class="form-control" placeholder="Enter cipher" data-toggle="tooltip" title="Preferred IKE Cipher, refer to strongSwan IKEv2 Cipher Suites. Leave blank for default" value="<%- preferred_ike %>">
  </div>
</div>
<div class="form-group">
  <div class="form-group preferred-esp">
    <label>Preferred ESP Cipher</label>
    <input type="text" class="form-control" placeholder="Enter cipher" data-toggle="tooltip" title="Preferred ESP Cipher, refer to strongSwan IKEv2 Cipher Suites. Leave blank for default" value="<%- preferred_esp %>">
  </div>
</div>
<div class="force-preferred-toggle toggle-form form-group">
  <label>Force Preferred Cipher</label>
  <div class="selector <%= force_preferred ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Force IPsec connections to use preferred cipher. Connections will not be allowed from other ciphers. Requires updated pritunl-link clients.">
    <span class="selector-inner glyphicon glyphicon-ok"></span>
  </div>
</div>
