<div class="form-group name">
  <label>Name</label>
  <input type="text" class="form-control" placeholder="Enter name" data-toggle="tooltip" title="Name of user" autofocus>
</div>
<div class="form-group org">
  <label>Select an organization</label>
  <select class="form-control">
    <% _.each(orgs, function(org) { %>
      <option value="<%- org.id %>" <%= (lastOrg === org.id) ? 'selected' : '' %>><%- org.name %></option>
    <% }); %>
  </select>
</div>
<div class="form-group email">
  <label>Email (optional)</label>
  <input type="email" class="form-control" placeholder="Enter email address" data-toggle="tooltip" title="User email address">
</div>
<div class="form-group network-links">
  <label>Network Link</label>
  <input type="text" class="form-control"
    placeholder="Enter network address" data-toggle="tooltip"
    title="Enter network address with cidr subnet. This will provision access to a clients local network to the attached vpn servers and other clients. Multiple networks may be separated by a comma.">
</div>
<div class="advanced form-group">
  <div class="bypass-secondary-toggle toggle-form form-group">
    <label>Bypass Secondary Authentication</label>
    <div class="selector no-select" data-toggle="tooltip" title="Bypass secondary authentication such as two-factor authentication. Use for server users that can't provide a two-factor code.">
      <span class="selector-inner glyphicon glyphicon-ok"></span>
    </div>
  </div>
</div>
