<div class="form-group">
  <div class="form-group name">
    <label>Name</label>
    <input type="text" class="form-control" placeholder="Enter name" data-toggle="tooltip" title="Name of location host" autofocus>
  </div>
  <div class="timeout form-group">
    <label>Timeout</label>
    <input type="number" class="form-control" placeholder="Enter timeout" data-toggle="tooltip" title="Optional, timeout for host in seconds" min="0" step="1" autocapitalize="off">
  </div>
  <div class="priority form-group">
    <label>Priority</label>
    <input type="number" class="form-control" placeholder="Enter priority" data-toggle="tooltip" title="Priority of host, available host with highest priority will selected. Failover on network partitions will not function if priority is used" min="1" step="1" autocapitalize="off">
  </div>
  <div class="backoff form-group">
    <label>Backoff Timeout</label>
    <input type="number" class="form-control" placeholder="Enter backoff" data-toggle="tooltip" title="Option, amount of time in seconds since host first entered unavailable state before attempting to use as active host for link" min="0" step="1" autocapitalize="off">
  </div>
</div>
<div class="advanced form-group">
  <div class="static-toggle toggle-form form-group">
    <label>Static Host</label>
    <div class="selector no-select" data-toggle="tooltip" title="Static host to run IPsec without the pritunl-link service">
      <span class="selector-inner glyphicon glyphicon-ok"></span>
    </div>
  </div>
  <div class="public-address form-group">
    <label>Public Address</label>
    <input type="text" class="form-control" placeholder="Enter public address" data-toggle="tooltip" title="Public address for static host. Hosts running pritunl-link will set the public address automatically">
  </div>
  <div class="local-address form-group">
    <label>Local Address</label>
    <input type="text" class="form-control" placeholder="Enter local address" data-toggle="tooltip" title="Local address for static host. Hosts running pritunl-link will set the local address automatically">
  </div>
  <div class="address6 form-group">
    <label>IPv6 Address</label>
    <input type="text" class="form-control" placeholder="Enter public address" data-toggle="tooltip" title="IPv6 address for static host. Hosts running pritunl-link will set the IPv6 address automatically">
  </div>
</div>
