<div class="route-network form-group">
  <label>Network</label>
  <input type="text" class="form-control" placeholder="Enter network address" data-toggle="tooltip" title="Network address with subnet to route" autofocus>
</div>
<div class="nat-route-toggle toggle-form form-group">
  <label>NAT Route</label>
  <div class="selector selected no-select" data-toggle="tooltip" title="NAT vpn traffic destined to this network.">
    <span class="selector-inner glyphicon glyphicon-ok"></span>
  </div>
</div>
<div class="server form-group">
  <label>Select a server</label>
  <select class="form-control">
    <% _.each(servers, function(server) { %>
      <option value="<%- server.id %>" <%= (lastServer === server.id) ? 'selected' : '' %>><%- server.name %></option>
    <% }); %>
  </select>
</div>
