<div class="layout-horizontal">
  <div class="settings-left layout-flex left">
    <div class="username form-group">
      <label>Username</label>
      <input type="text" class="form-control" placeholder="Enter username" value="<%- username %>" spellcheck="false" autofocus>
    </div>
    <div class="auditing form-group">
      <label>Auditing Mode</label>
      <select class="form-control" data-toggle="tooltip" title="Auditing mode. Enable to log user actions such as login attempts and profile downloads" data-toggle="tooltip" title="Log administrator and user actions">
        <option value="none" <%= !auditing ? 'selected' : '' %>>Disabled</option>
        <option value="all" <%= auditing === 'all' ? 'selected' : '' %>>All</option>
      </select>
    </div>
    <div class="pin-mode form-group">
      <label>Pin Mode</label>
      <select class="form-control" data-toggle="tooltip" title="Pin mode">
        <option value="optional" <%= pin_mode === 'optional' ? 'selected' : '' %>>Optional</option>
        <option value="required" <%= pin_mode === 'required' ? 'selected' : '' %>>Required</option>
        <option value="disabled" <%= pin_mode === 'disabled' ? 'selected' : '' %>>Disabled</option>
      </select>
    </div>
    <div class="public-address form-group">
      <label>Public Address</label>
      <input type="text" class="form-control" placeholder="Enter public address" data-toggle="tooltip" title="Public IP address or domain name of the host" value="<%- public_address %>">
    </div>
    <div class="theme form-group">
      <label>Theme</label>
      <select class="form-control" data-toggle="tooltip" title="Pritunl color theme">
        <option value="light" <%= theme === 'light' ? 'selected' : '' %>>Light</option>
        <option value="dark" <%= theme === 'dark' ? 'selected' : '' %>>Dark</option>
      </select>
    </div>
    <div class="server-port form-group">
      <label>Web Console Port</label>
      <input type="text" class="form-control" placeholder="Enter web console port" value="<%- server_port %>">
    </div>
    <div class="reverse-proxy form-group">
      <label>Allow Reverse Proxy</label>
      <select class="form-control" data-toggle="tooltip" title="Allow reading client IP address from reverse proxy header. Enable when using services such as CloudFlare or when using a load balancer">
        <option value="false" <%= !reverse_proxy ? 'selected' : '' %>>Disabled</option>
        <option value="true" <%= reverse_proxy ? 'selected' : '' %>>Enabled</option>
      </select>
    </div>
    <div class="sso-mode form-group">
      <label>Single Sign-On</label>
      <select class="form-control" data-toggle="tooltip" title="Single Sign-On Mode">
        <option value="" <%= sso ? '' : 'selected' %>>Disabled</option>
        <option value="saml_okta" <%= sso === 'saml_okta' ? 'selected' : '' %>>Okta</option>
        <option value="saml_okta_duo" <%= sso === 'saml_okta_duo' ? 'selected' : '' %>>Okta + Duo Security</option>
        <option value="saml_okta_yubico" <%= sso === 'saml_okta_yubico' ? 'selected' : '' %>>Okta + Yubico</option>
        <option value="saml_onelogin" <%= sso === 'saml_onelogin' ? 'selected' : '' %>>OneLogin</option>
        <option value="saml_onelogin_duo" <%= sso === 'saml_onelogin_duo' ? 'selected' : '' %>>OneLogin + Duo Security</option>
        <option value="saml_onelogin_yubico" <%= sso === 'saml_onelogin_yubico' ? 'selected' : '' %>>OneLogin + Yubico</option>
        <option value="slack" <%= sso === 'slack' ? 'selected' : '' %>>Slack</option>
        <option value="slack_duo" <%= sso === 'slack_duo' ? 'selected' : '' %>>Slack + Duo Security</option>
        <option value="slack_yubico" <%= sso === 'slack_yubico' ? 'selected' : '' %>>Slack + Yubico</option>
        <option value="google" <%= sso === 'google' ? 'selected' : '' %>>Google Apps</option>
        <option value="google_duo" <%= sso === 'google_duo' ? 'selected' : '' %>>Google Apps + Duo Security</option>
        <option value="google_yubico" <%= sso === 'google_yubico' ? 'selected' : '' %>>Google Apps + Yubico</option>
        <option value="saml" <%= sso === 'saml' ? 'selected' : '' %>>SAML</option>
        <option value="saml_duo" <%= sso === 'saml_duo' ? 'selected' : '' %>>SAML + Duo Security</option>
        <option value="saml_yubico" <%= sso === 'saml_yubico' ? 'selected' : '' %>>SAML + Yubico</option>
        <option value="duo" <%= sso === 'duo' ? 'selected' : '' %>>Duo Security</option>
        <option value="radius" <%= sso === 'radius' ? 'selected' : '' %>>Radius</option>
        <option value="radius_duo" <%= sso === 'radius_duo' ? 'selected' : '' %>>Radius + Duo Security</option>
      </select>
    </div>
    <div class="sso-org form-group" <%= sso ? '' : 'style="display: none;"' %>>
      <label>Single Sign-On Organization</label>
      <select class="form-control">
        <% _.each(orgs, function(org) { %>
        <option value="<%- org.id %>" <%= (sso_org === org.id) ? 'selected' : '' %>><%- org.name %></option>
        <% }); %>
      </select>
    </div>
    <div class="sso-onelogin-id form-group" <%= !sso || sso.indexOf('onelogin') === -1 ? 'style="display: none;"' : '' %>>
      <label>OneLogin API Client ID</label>
      <input type="text" class="form-control" placeholder="Enter OneLogin API client ID" value="<%- sso_onelogin_id || '' %>" data-toggle="tooltip" title="OneLogin API client ID">
    </div>
    <div class="sso-saml-cert form-group" <%= !sso || sso.indexOf('saml') === -1 ? 'style="display: none;"' : '' %>>
      <label>SAML Certificate</label><br>
      <textarea class="form-control" rows="4" spellcheck="false" data-toggle="tooltip" title="The SAML X.509 Certificate" placeholder="Enter saml certificate"><%- sso_saml_cert %></textarea>
    </div>
    <div class="sso-token form-group" <%= !sso || sso.indexOf('duo') === -1 ? 'style="display: none;"' : '' %>>
      <label>Duo Integration Key</label>
      <input type="text" class="form-control" placeholder="Enter integration key" value="<%- sso_duo_token || '' %>">
    </div>
    <div class="sso-secret form-group" <%= !sso || sso.indexOf('duo') === -1 ? 'style="display: none;"' : '' %>>
      <label>Duo Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- sso_duo_secret || '' %>">
    </div>
    <div class="sso-yubico-client form-group" <%= !sso || sso.indexOf('yubico') === -1 ? 'style="display: none;"' : '' %>>
      <label>Yubico Client ID</label>
      <input type="text" class="form-control" placeholder="Enter client ID" value="<%- sso_yubico_client || '' %>">
    </div>
    <div class="sso-client-cache toggle-form form-group" <%= sso ? '' : 'style="display: none;"' %>>
      <label>Enable Authentication Cache</label>
      <div class="selector <%= sso_client_cache ? 'selected' : '' %> no-select" data-toggle="tooltip" title="Enable a two day single sign-on authentication cache using a token stored on the client. This will allow clients to reconnect without two-factor authentication. Works with Duo push, Okta push, Duo passcodes and YubiKeys. Only supported by Pritunl client">
        <span class="selector-inner glyphicon glyphicon-ok"></span>
      </div>
    </div>
  </div>
  <div class="settings-right right">
    <div class="pass form-group">
      <label>New Password</label>
      <input type="password" class="form-control" placeholder="Enter password">
    </div>
    <div class="public-address6 form-group">
      <label>Public IPv6 Address</label>
      <input type="text" class="form-control" placeholder="Enter public address" data-toggle="tooltip" title="Public IPv6 address or domain name of the host" value="<%- public_address6 %>">
    </div>
    <div class="routed-subnet6 form-group">
      <label>Routed IPv6 Subnet</label>
      <input type="text" class="form-control" placeholder="Enter routed subnet" data-toggle="tooltip" title="IPv6 subnet that is routed to the host, must be at least /64" value="<%- routed_subnet6 %>">
    </div>
    <div class="monitoring form-group">
      <label>Monitoring Mode</label>
      <select class="form-control" data-toggle="tooltip" title="Monitoring mode">
        <option value="none" <%= !monitoring ? 'selected' : '' %>>Disabled</option>
        <option value="influxdb" <%= monitoring === 'influxdb' ? 'selected' : '' %>>InfluxDB</option>
      </select>
    </div>
    <div class="influxdb-uri-box">
      <div class="influxdb-uri form-group" <%= monitoring === 'influxdb' ? '' : 'style="display: none;"' %>>
        <label>InfluxDB URI</label>
        <input type="text" class="form-control" placeholder="Enter InfluxDB URI" value="<%- influxdb_uri || '' %>">
      </div>
    </div>
    <div class="theme form-group">
      <label>Theme</label>
      <select class="form-control" data-toggle="tooltip" title="Pritunl color theme">
        <option value="light" <%= theme === 'light' ? 'selected' : '' %>>Light</option>
        <option value="dark" <%= theme === 'dark' ? 'selected' : '' %>>Dark</option>
      </select>
    </div>
    <div class="acme-domain form-group">
      <label>LetsEncrypt Domain</label>
      <input type="text" class="form-control" spellcheck="false" placeholder="Enter web console domain" value="<%- acme_domain %>" data-toggle="tooltip" title="Enter the domain name that is registered to this server to automatically configure a signed SSL certificate from LetsEncrypt. Port 80 must stay publicly accessible on the server to verify and renew the domain certificate">
    </div>
    <div class="cloud-provider form-group">
      <label>Cloud Provider</label>
      <select class="form-control" data-toggle="tooltip" title="Cloud provider for integration">
        <option value="none" <%= cloud_provider === 'none' ? 'selected' : '' %>>None</option>
        <option value="aws" <%= cloud_provider === 'aws' ? 'selected' : '' %>>AWS</option>
      </select>
    </div>
    <div class="sso-saml-url form-group" <%= !sso || sso.indexOf('saml') === -1 ? 'style="display: none;"' : '' %>>
      <label>SAML Sign-On URL</label>
      <input type="text" class="form-control" placeholder="Enter SAML sign-on url" value="<%- sso_saml_url || '' %>" data-toggle="tooltip" title="The SAML identity provider single sign-on url. Also known as SAML 2.0 Endpoint">
    </div>
    <div class="sso-onelogin-secret form-group" <%= !sso || sso.indexOf('onelogin') === -1 ? 'style="display: none;"' : '' %>>
      <label>OneLogin API Client Secret</label>
      <input type="text" class="form-control" placeholder="Enter OneLogin API client secret" value="<%- sso_onelogin_secret || '' %>" data-toggle="tooltip" title="OneLogin API client secret">
    </div>
    <div class="sso-saml-issuer-url form-group" <%= !sso || sso.indexOf('saml') === -1 ? 'style="display: none;"' : '' %>>
      <label>SAML Issuer URL</label>
      <input type="text" class="form-control" placeholder="Enter SAML issuer url" value="<%- sso_saml_issuer_url || '' %>" data-toggle="tooltip" title="The SAML identity provider issuer url">
    </div>
    <div class="sso-okta-token form-group" <%= !sso || sso.indexOf('okta') === -1 ? 'style="display: none;"' : '' %>>
      <label>Okta API Token</label>
      <input type="text" class="form-control" placeholder="Enter Okta API token" value="<%- sso_okta_token || '' %>" data-toggle="tooltip" title="Okta API token">
    </div>
    <div class="sso-match-google form-group" <%= !sso || sso.indexOf('google') === -1 ? 'style="display: none;"' : '' %>>
      <label>Google Apps Domain</label>
      <input type="text" class="form-control" spellcheck="false" placeholder="Enter Google Apps domain" value="<%- sso_match || '' %>" data-toggle="tooltip" title="Google apps domain to match against users email address. Multiple domains can be entrered sperated by a comma. (example: pritunl.com)">
    </div>
    <div class="sso-match-slack form-group" <%= !sso || sso.indexOf('slack') === -1 ? 'style="display: none;"' : '' %>>
      <label>Slack Team</label>
      <input type="text" class="form-control" spellcheck="false" placeholder="Enter slack team" value="<%- sso_match || '' %>" data-toggle="tooltip" title="Slack team domain to match against users team. (example: pritunl.slack.com)">
    </div>
    <div class="sso-radius-host form-group" <%= !sso || sso.indexOf('radius') === -1 ? 'style="display: none;"' : '' %>>
      <label>Radius Host</label>
      <input type="email" class="form-control" placeholder="Enter radius host and port" value="<%- sso_radius_host || '' %>" data-toggle="tooltip" title="Radius host such as localhost:1645. If no port is specified default port 1645 will be used">
    </div>
    <div class="sso-radius-secret form-group" <%= !sso || sso.indexOf('radius') === -1 ? 'style="display: none;"' : '' %>>
      <label>Radius Secret</label>
      <input type="password" class="form-control" placeholder="Enter Radius secret" value="<%- sso_radius_secret || '' %>" data-toggle="tooltip" title="Radius shared secret">
    </div>
    <div class="sso-host form-group" <%= !sso || sso.indexOf('duo') === -1 ? 'style="display: none;"' : '' %>>
      <label>Duo API Hostname</label>
      <input type="text" class="form-control" placeholder="Enter api hostname" value="<%- sso_duo_host || '' %>">
    </div>
    <div class="sso-duo-mode form-group" <%= !sso || sso.indexOf('duo') === -1 ? 'style="display: none;"' : '' %>>
      <label>Duo Mode</label>
      <select class="form-control" data-toggle="tooltip" title="Duo authentication mode">
        <option value="push" <%= sso_duo_mode === 'push' ? 'selected' : '' %>>Push</option>
        <option value="phone" <%= sso_duo_mode === 'phone' ? 'selected' : '' %>>Phone Callback</option>
        <option value="push_phone" <%= sso_duo_mode === 'push_phone' ? 'selected' : '' %>>Push + Phone Callback</option>
        <option value="passcode" <%= sso_duo_mode === 'passcode' ? 'selected' : '' %>>Passcode</option>
      </select>
    </div>
    <div class="sso-yubico-secret form-group" <%= !sso || sso.indexOf('yubico') === -1 ? 'style="display: none;"' : '' %>>
      <label>Yubico Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- sso_yubico_secret || '' %>">
    </div>
  </div>
</div>
<div class="aws-settings layout-horizontal" <%= cloud_provider === 'aws' ? '' : 'style="display: none;"' %>>
  <div class="settings-left layout-flex left">
    <div class="route53-region form-group">
      <label>Auto Route 53 Region</label>
      <select class="form-control" data-toggle="tooltip" title="Select Route 53 region. This will automatically create and update DNS records for each host in the selected region.">
        <option value="" <%= !route53_region ? 'selected' : '' %>>Disabled</option>
        <option value="us-east-1" <%= route53_region === 'us-east-1' ? 'selected' : '' %>>US East (N. Virginia)</option>
        <option value="us-east-2" <%= route53_region === 'us-east-2' ? 'selected' : '' %>>US East (Ohio)</option>
        <option value="us-west-1" <%= route53_region === 'us-west-1' ? 'selected' : '' %>>US West (N. California)</option>
        <option value="us-west-2" <%= route53_region === 'us-west-2' ? 'selected' : '' %>>US West (Oregon)</option>
        <option value="eu-west-1" <%= route53_region === 'eu-west-1' ? 'selected' : '' %>>EU (Ireland)</option>
        <option value="eu-central-1" <%= route53_region === 'eu-central-1' ? 'selected' : '' %>>EU (Frankfurt)</option>
        <option value="ap-northeast-1" <%= route53_region === 'ap-northeast-1' ? 'selected' : '' %>>Asia Pacific (Tokyo)</option>
        <option value="ap-northeast-2" <%= route53_region === 'ap-northeast-2' ? 'selected' : '' %>>Asia Pacific (Seoul)</option>
        <option value="ap-southeast-1" <%= route53_region === 'ap-southeast-1' ? 'selected' : '' %>>Asia Pacific (Singapore)</option>
        <option value="ap-southeast-2" <%= route53_region === 'ap-southeast-2' ? 'selected' : '' %>>Asia Pacific (Sydney)</option>
        <option value="ap-south-1" <%= route53_region === 'ap-south-1' ? 'selected' : '' %>>Asia Pacific (Mumbai)</option>
        <option value="sa-east-1" <%= route53_region === 'sa-east-1' ? 'selected' : '' %>>South America (Sao Paulo)</option>
      </select>
    </div>
    <div class="us-east-1-access-key form-group">
      <label>US East (N. Virginia) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- us_east_1_access_key || '' %>">
    </div>
    <div class="us-east-2-access-key form-group">
      <label>US East (Ohio) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- us_east_2_access_key || '' %>">
    </div>
    <div class="us-west-1-access-key form-group">
      <label>US West (N. California) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- us_west_1_access_key || '' %>">
    </div>
    <div class="us-west-2-access-key form-group">
      <label>US West (Oregon) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- us_west_2_access_key || '' %>">
    </div>
    <div class="eu-west-1-access-key form-group">
      <label>EU (Ireland) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- eu_west_1_access_key || '' %>">
    </div>
    <div class="eu-central-1-access-key form-group">
      <label>EU (Frankfurt) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- eu_central_1_access_key || '' %>">
    </div>
    <div class="ap-northeast-1-access-key form-group">
      <label>Asia Pacific (Tokyo) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- ap_northeast_1_access_key || '' %>">
    </div>
    <div class="ap-northeast-2-access-key form-group">
      <label>Asia Pacific (Seoul) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- ap_northeast_2_access_key || '' %>">
    </div>
    <div class="ap-southeast-1-access-key form-group">
      <label>Asia Pacific (Singapore) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- ap_southeast_1_access_key || '' %>">
    </div>
    <div class="ap-southeast-2-access-key form-group">
      <label>Asia Pacific (Sydney) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- ap_southeast_2_access_key || '' %>">
    </div>
    <div class="ap-south-1-access-key form-group">
      <label>Asia Pacific (Mumbai) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- ap_south_1_access_key || '' %>">
    </div>
    <div class="sa-east-1-access-key form-group">
      <label>South America (Sao Paulo) Access Key</label>
      <input type="text" class="form-control" placeholder="Enter access key" value="<%- sa_east_1_access_key || '' %>">
    </div>
  </div>
  <div class="settings-right right">
    <div class="route53-zone form-group">
      <label>Auto Route 53 Zone</label>
      <select class="form-control" data-toggle="tooltip" title="Select Route 53 zone. This will automatically create and update DNS records for each host in the selected zone. The name of the host will be used for the subdomain in the zone. The AWS keys below must be saved before a list of available zones will be shown.">
        <option value="none" <%= !route53_zone ? 'selected' : '' %>>Disabled</option>
      </select>
    </div>
    <div class="us-east-1-secret-key form-group">
      <label>US East (N. Virginia) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- us_east_1_secret_key || '' %>">
    </div>
    <div class="us-east-2-secret-key form-group">
      <label>US East (Ohio) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- us_east_2_secret_key || '' %>">
    </div>
    <div class="us-west-1-secret-key form-group">
      <label>US West (N. California) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- us_west_1_secret_key || '' %>">
    </div>
    <div class="us-west-2-secret-key form-group">
      <label>US West (Oregon) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- us_west_2_secret_key || '' %>">
    </div>
    <div class="eu-west-1-secret-key form-group">
      <label>EU (Ireland) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- eu_west_1_secret_key || '' %>">
    </div>
    <div class="eu-central-1-secret-key form-group">
      <label>EU (Frankfurt) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- eu_central_1_secret_key || '' %>">
    </div>
    <div class="ap-northeast-1-secret-key form-group">
      <label>Asia Pacific (Tokyo) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- ap_northeast_1_secret_key || '' %>">
    </div>
    <div class="ap-northeast-2-secret-key form-group">
      <label>Asia Pacific (Seoul) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- ap_northeast_2_secret_key || '' %>">
    </div>
    <div class="ap-southeast-1-secret-key form-group">
      <label>Asia Pacific (Singapore) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- ap_southeast_1_secret_key || '' %>">
    </div>
    <div class="ap-southeast-2-secret-key form-group">
      <label>Asia Pacific (Sydney) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- ap_southeast_2_secret_key || '' %>">
    </div>
    <div class="ap-south-1-secret-key form-group">
      <label>Asia Pacific (Mumbai) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- ap_south_1_secret_key || '' %>">
    </div>
    <div class="sa-east-1-secret-key form-group">
      <label>South America (Sao Paulo) Secret Key</label>
      <input type="text" class="form-control" placeholder="Enter secret key" value="<%- sa_east_1_secret_key || '' %>">
    </div>
  </div>
</div>
<div class="layout-horizontal">
  <div class="settings-left layout-flex left advanced">
    <div class="email-from form-group">
      <label>SMTP From Address</label>
      <input type="email" class="form-control" placeholder="Enter SMTP from address" value="<%- email_from || '' %>" data-toggle="tooltip" title="SMTP name and from email address (example: Pritunl <contact@pritunl.com>)">
    </div>
    <div class="email-username form-group">
      <label>SMTP Username</label>
      <input type="text" class="form-control" placeholder="Enter SMTP username" value="<%- email_username || '' %>">
    </div>
    <div class="server-cert form-group">
      <label>Server SSL Certificate</label><br>
      <textarea class="form-control" rows="4" spellcheck="false"><%- server_cert %></textarea>
    </div>
  </div>
  <div class="settings-right right advanced">
    <div class="email-server form-group">
      <label>SMTP Server</label>
      <input type="text" class="form-control" placeholder="Enter SMTP server" value="<%- email_server || '' %>">
    </div>
    <div class="email-password form-group">
      <label>SMTP Password</label>
      <input type="password" class="form-control" placeholder="Enter SMTP password" value="<%- email_password ? '********************' : '' %>">
    </div>
    <div class="server-key form-group">
      <label>Server SSL Key</label><br>
      <textarea class="form-control" rows="4" spellcheck="false"><%- server_key %></textarea>
    </div>
  </div>
</div>
