<div class="form-group name">
  <label>Name</label>
  <input type="text" class="form-control" placeholder="Enter name" data-toggle="tooltip" title="Name of host" value="<%- name %>" autofocus>
</div>
<div class="form-group public-address">
  <label>Public Address</label>
  <input type="text" class="form-control" placeholder="Enter public address" data-toggle="tooltip" title="Public IP address or domain name of the host" value="<%- public_address %>">
</div>
<div class="advanced form-group link-address">
  <label>Link Address</label>
  <input type="text" class="form-control" placeholder="Enter link address" data-toggle="tooltip" title="IP address or domain used when linked servers connect to this host" value="<%- link_address %>">
</div>
