<div class="split">
  <div class="settings-left left">
    <div class="username form-group">
      <label>Enter username</label>
      <input type="text" class="form-control" placeholder="Enter username" value="<%- username %>" autofocus>
    </div>
    <div class="pass form-group">
      <label>Enter new password</label>
      <input type="password" class="form-control" placeholder="Enter password">
    </div>
    <div class="theme form-group">
      <label>Theme</label>
      <select class="form-control" data-toggle="tooltip" title="Pritunl color theme">
        <option value="light" <%= theme === 'light' ? 'selected' : '' %>>Light</option>
        <option value="dark" <%= theme === 'dark' ? 'selected' : '' %>>Dark</option>
      </select>
    </div>
    <div class="public-address form-group">
      <label>Public Address</label>
      <input type="text" class="form-control" placeholder="Enter public address" data-toggle="tooltip" title="Public IP address or domain name of the host" value="<%- public_address %>">
    </div>
    <div class="email-from-addr form-group">
      <label>SMTP From Address</label>
      <input type="email" class="form-control" placeholder="Enter SMTP from address" value="<%- email_from || '' %>" data-toggle="tooltip" title="SMTP name and from email address (example: Pritunl <contact@pritunl.com>)">
    </div>
    <div class="email-username form-group">
      <label>SMTP Username</label>
      <input type="text" class="form-control" placeholder="Enter SMTP username" value="<%- email_username || '' %>">
    </div>
  </div>
  <div class="settings-right right">
    <div class="api-token form-group">
      <label>API Token</label>
      <input type="text" class="form-control" placeholder="" value="<%- token || '' %>" readonly>
    </div>
    <div class="api-secret form-group">
      <label>API Secret</label>
      <input type="text" class="form-control" placeholder="" value="<%- secret || '' %>" readonly>
    </div>
    <button type="button" class="generate-new-api-key btn btn-danger">Generate New API Key</button>
    <div class="email-server form-group">
      <label>SMTP Server</label>
      <input type="text" class="form-control" placeholder="Enter SMTP server" value="<%- email_server || '' %>">
    </div>
    <div class="email-password form-group">
      <label>SMTP Password</label>
      <input type="password" class="form-control" placeholder="Enter SMTP password" value="<%- email_password ? '********************' : '' %>">
    </div>
  </div>
</div>
