<div class="subscribe-info form-group">
  <ul class="subscribe-list">
    <li>
      <span class="glyphicon glyphicon-ok"></span>
      <span class="subscribe-feature">Enterprise Feature</span>
    </li>
    <li>
      <span class="glyphicon glyphicon-ok"></span>
      <span class="subscribe-feature">Enterprise Feature</span>
    </li>
    <li>
      <span class="glyphicon glyphicon-ok"></span>
      <span class="subscribe-feature">Enterprise Feature</span>
    </li>
    <li>
      <span class="glyphicon glyphicon-ok"></span>
      <span class="subscribe-feature">Enterprise Feature</span>
    </li>
  </ul>
  <button type="button" class="subscribe-checkout btn btn-info btn-lg">Subscribe $2.50/month</button>
</div>
