<div class="key-link form-group">
  <label>Temporary url to download profile, expires after 24 hours</label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Download profile"></a>
</div>
<div class="key-zip-link form-group">
  <label>Temporary url to download zip profile, expires after 24 hours</label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Download profile"></a>
</div>
<div class="key-onc-link form-group">
  <label>Temporary url to download Chromebook profile, expires after 24 hours</label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Download profile"></a>
</div>
<div class="otp-link form-group">
  <label>Temporary url to view profile links, expires after 24 hours</label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Open profile link" target="_blank"></a>
</div>
<div class="uri-link form-group">
  <label>Temporary uri link for Pritunl Client, expires after 24 hours</label>
  <input type="text" class="form-control" readonly>
  <a class="glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Open profile uri link" target="_blank"></a>
</div>
