<div class="servers-list-header">
  <h1 class="servers-list-title title">Servers</h1>
  <div class="servers-list-buttons">
    <button type="button" class="header-button servers-add-server btn btn-primary">Add Server</button>
    <button type="button" class="header-button servers-add-route btn btn-primary">Add Route</button>
    <button type="button" class="header-button servers-attach-org btn btn-primary">Attach Organization</button>
    <button type="button" class="header-button servers-attach-host btn btn-primary">Attach Host</button>
    <button type="button" class="header-button servers-link-server btn btn-primary">Link Server</button>
  </div>
</div>
<div class="alerts-container"></div>
<div class="servers-list-container">
  <div class="no-servers">
    There are no servers on this host.
  </div>
</div>
<button type="button" class="prev-page btn btn-primary btn-sm">Previous Page</button>
<button type="button" class="next-page btn btn-primary btn-sm">Next Page</button>
<div class="pages no-select">
  <div class="links">
    <a class="link first">First</a>
    <a class="link last">Last</a>
  </div>
</div>
