<div class="server-header">
  <div class="server-label label label-primary toggle-hidden no-select">Server</div>
  <div class="node-label label label-purple toggle-hidden no-select">Node Server</div>
  <h2 class="server-title title">
    <a class="no-select" data-toggle="tooltip" title="Click to open server settings"></a>
    <span class="server-id title">(<%- id %>)</span>
  </h2>
  <button type="button" class="server-del btn btn-danger btn-sm">Delete Server</button>
  <button type="button" class="server-stop btn btn-warning btn-sm">Stop Server</button>
  <button type="button" class="server-start btn btn-success btn-sm">Start Server</button>
  <button type="button" class="server-restart btn btn-primary btn-sm">Restart Server</button>
  <span class="no-org-warning label label-default">
    Server must have an organization attached before starting
  </span>
</div>
<div class="server-info">
  <div class="status-items">
    <div class="status-item server-status">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-dashboard"></span>
        <span>Status</span>
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-uptime">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-time"></span>
        <span>Uptime</span>
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-users">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-user"></span>
        <span>Users</span>
      </h3>
      <div class="status-text title">
        <span class="status-num"></span> users online
      </div>
    </div>
    <div class="status-item server-network">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-signal"></span>
        <span>Network</span>
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-interface">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-transfer"></span>
        <span>Interface</span>
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-port">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-cloud-upload"></span>
        <span>Port</span>
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-public-address last">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-globe"></span>
        <span>Public IP</span>
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-node-host last">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-cloud"></span>
        <span>Node Host</span>
      </h3>
      <div class="status-text title"></div>
    </div>
  </div>
  <div class="server-output">
    <h3 class="server-output-title title">
      <button type="button" class="server-output-btn btn btn-primary btn-xs">Server Output</button>
      <button type="button" class="server-graph-btn btn btn-default btn-xs">Bandwidth Graphs</button>
      <span class="server-output-clear glyphicon glyphicon-trash" data-toggle="tooltip" title="Click to clear server output"></span>
      <button type="button" class="server-graph-period graph-1d btn btn-default btn-xs">365 Days</button>
      <button type="button" class="server-graph-period graph-2h btn btn-default btn-xs">30 Days</button>
      <button type="button" class="server-graph-period graph-30m btn btn-default btn-xs">7 Days</button>
      <button type="button" class="server-graph-period graph-5m btn btn-default btn-xs">24 Hours</button>
      <button type="button" class="server-graph-period graph-1m btn btn-primary btn-xs">6 Hours</button>
    </h3>
    <div class="server-output-viewer"></div>
    <div class="server-graph-viewer"></div>
  </div>
</div>
