<div class="server-header">
  <div class="label label-primary">Server</div>
  <h2 class="server-title title">
    <a class="no-select" data-toggle="tooltip" title="Click to open server settings"></a>
  </h2>
  <button type="button" class="server-del btn btn-danger btn-sm">Delete Server</button>
  <button type="button" class="server-stop btn btn-warning btn-sm">Stop Server</button>
  <button type="button" class="server-start btn btn-success btn-sm">Start Server</button>
  <button type="button" class="server-restart btn btn-primary btn-sm">Restart Server</button>
</div>
<div class="server-info">
  <div class="status-items">
    <div class="status-item server-status">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-dashboard"></span>
        Status
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-uptime">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-time"></span>
        Uptime
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-users">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-user"></span>
        Users
      </h3>
      <div class="status-text title">
        <span class="status-num"></span> users online
      </div>
    </div>
    <div class="status-item server-network">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-signal"></span>
        Network
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-interface">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-transfer"></span>
        Interface
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-port">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-cloud-upload"></span>
        Port
      </h3>
      <div class="status-text title"></div>
    </div>
    <div class="status-item server-public-address last">
      <h3 class="status-title title">
        <span class="status-icon glyphicon glyphicon-globe"></span>
        Public IP
      </h3>
      <div class="status-text title">8.8.8.8</div>
    </div>
  </div>
  <div class="server-output">
    <h3 class="server-output-title title">
      <span class="server-output-icon glyphicon glyphicon-record"></span>
      Server Output
      <span class="server-output-clear glyphicon glyphicon-trash" data-toggle="tooltip" title="Click to clear server output"></span>
    </h3>
    <div class="server-output-viewer">
  </div>
</div>
