<div class="selector no-select">
  <span class="selector-inner glyphicon glyphicon-ok"></span>
</div>
<div class="name-container type-<%= type %>">
  <span class="name-icon glyphicon glyphicon-user"></span>
  <a class="user-name title no-select" data-toggle="tooltip" title="Click to rename this user"><%= name %></a>
</div>

<div class="status-container">
  <div class="status-icon <%= (status) ? 'online' : 'offline' %>"></div>
  <span class="status-text title"><%= (status) ? 'Online' : 'Offline' %></span>
  <a class="download-key glyphicon glyphicon-download no-select" data-toggle="tooltip" title="Click to download key" href="/user/<%= organization %>/<%= id %>.tar"></a>
</div>
