<div class="users container">
  <div class="organizations-list">
    <div class="organizations-list-header">
      <h1 class="organizations-title title">Users in Organizations</h1>
      <div class="organizations-action-buttons">
        <button type="button" class="btn btn-primary">Add Organization</button>
        <button type="button" class="btn btn-primary">Add User</button>
        <button type="button" class="btn btn-danger" disabled>Delete Selected Users</button>
      </div>
    </div>

    <div class="organizations-list-container">
      <div class="object-list">
        <div class="object-list-header">
          <div class="label label-success">Organization</div>
          <h2 class="title object-title">
            <a href="#/organization/123456">organizationname</a>
          </h2>
          <button type="button" class="btn btn-danger btn-sm">Delete Organization</button>
        </div>

        <div class="object-list-container">
          <div class="object">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/organization/123456">username</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="object">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/organization/123456">username</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>

          <div class="object">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/organization/123456">username</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="object">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/organization/123456">username</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
