<div class="layout-horizontal">
  <div class="info-container layout-flex">
    <div class="server-name-device">
      <div class="user-device-label user-device-unregisted-label label label-danger toggle-hidden no-select">Unregistered</div>
      <span class="server-item device-name" data-toggle="tooltip" title="Device name">
        <span class="name-icon glyphicon glyphicon-tasks"></span>
        <span class="title"></span>
      </span>
    </div>
  </div>
  <div class="client-container">
    <span class="server-item device-time" data-toggle="tooltip" title="Last connected">
      <span class="name-icon glyphicon glyphicon-time"></span>
      <span class="title"></span>
    </span>
  </div>
  <div class="button-container">
    <button type="button" class="user-device-reg btn btn-primary btn-xs">Register Device</button>
    <button type="button" class="user-device-del btn btn-danger btn-xs">Remove Device</button>
  </div>
</div>
