<div class="users container">
  <div class="organizations-list">
    <div class="organizations-list-header">
      <h1 class="organizations-list-title title">Users in Organizations</h1>
      <div class="organizations-list-buttons">
        <button type="button" class="btn btn-primary">Add Organization</button>
        <button type="button" class="btn btn-primary">Add User</button>
        <button type="button" class="btn btn-danger" disabled>Delete Selected Users</button>
      </div>
    </div>

    <div class="organizations-list-container">
      <div class="users-list">
        <div class="users-list-header">
          <div class="label label-success">Organization</div>
          <h2 class="users-list-title title">
            <a href="#/organizations/123456">organizationname1</a>
          </h2>
          <button type="button" class="btn btn-danger btn-sm">Delete Organization</button>
        </div>

        <div class="users-list-container">
          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username1</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username2</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username3</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username4</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="organizations-list-container">
      <div class="users-list">
        <div class="users-list-header">
          <div class="label label-success">Organization</div>
          <h2 class="users-list-title title">
            <a href="#/organizations/123456">organizationname2</a>
          </h2>
          <button type="button" class="btn btn-danger btn-sm">Delete Organization</button>
        </div>

        <div class="users-list-container">
          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username1</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username2</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username3</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username4</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>

          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username5</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username6</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username7</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username8</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>
          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username9</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user selected">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username10</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username11</a>
            </div>
            <div class="status-container">
              <div class="status-icon true"></div>
              <span class="status-text title">Online</span>
            </div>
          </div>

          <div class="user">
            <div class="select">
              <span class="select-inner glyphicon glyphicon-ok"></span>
            </div>
            <div class="name-container">
              <span class="name-icon glyphicon glyphicon-user"></span>
              <a class="name" href="#/users/123456">username12</a>
            </div>
            <div class="status-container">
              <div class="status-icon false"></div>
              <span class="status-text title">Offline</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
