.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyc
*.egg
*.egg-info
*.tfstate
*.tfstate.backup
.sass-cache
/.vagrant
/build
/dist
/var
/pritunl.egg-info
/pritunl.db
/www/node_modules
/www/styles/*
!/www/styles/vendor
/tools/build_keys.json
