.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.pyc
*.egg
*.egg-info
/.vagrant
/build
/dist
/var
/pritunl.egg-info
/pritunl.db
/www/node_modules
/tools/private_key.asc
