flask==0.12.2
cheroot==6.0.0
jinja2==2.10
pymongo==3.6.0
netifaces==0.10.6
boto==2.48.0
boto3==1.5.12
requests==2.18.4
redis==2.10.6
python-dateutil==2.6.1
psutil==5.4.3
python-iptables==0.12.0
pyroute2==0.4.21
google-api-python-client==1.6.4
yubico-client==1.10.0
twisted==17.9.0
pyopenssl==17.5.0
cryptography==2.1.4
certifi==2017.11.5
