flask==1.1.2
cheroot==8.5.2
jinja2==2.11.3
pymongo==3.11.3
netifaces==0.10.9
boto==2.49.0
boto3==1.17.21
oci==2.32.0
requests==2.25.1
urllib3==1.26.4
redis==3.5.3
python-dateutil==2.8.1
psutil==5.8.0
python-iptables==1.0.0
pyroute2==0.5.14
google-api-python-client==2.0.2
google-auth==1.27.1
oauth2client==4.1.3
yubico-client==1.13.0
influxdb-client==1.15.0
twisted==21.2.0
pyopenssl==19.1.0
cryptography==3.2.1
pynacl==1.4.0
certifi==2020.12.5
