body {
  background-color: #efefef;
}

.title {
  font-size: 20px;
  color: #4d535c;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
}

.container {
  width: 940px;
}

.organizations-list {
}

.organizations-list .title {
  float: left;
  margin-top: 6px;
}

.organizations-list .action-buttons {
  float: right;
  display: block;
}
