.border-radius(@radius) {
  -webkit-box-shadow: @radius;
  -moz-box-shadow: @radius;
  box-shadow: @radius;
}

.box-shadow-both(@horz, @virt, @blur, @spread, @color, @inHorz, @inVert,
    @inBlur, @inSpread, @inColor) {
  -webkit-box-shadow: @horz @virt @blur @spread @color,
    inset @horz @virt @blur @spread @color;
  -moz-box-shadow: @horz @virt @blur @spread @color,
    inset @horz @virt @blur @spread @color;
  -o-box-shadow: @horz @virt @blur @spread @color,
    inset @horz @virt @blur @spread @color;
  box-shadow: @horz @virt @blur @spread @color,
    inset @horz @virt @blur @spread @color;
}
