[Unit]
Description=Pritunl Daemon

[Service]
LimitNOFILE=500000
ExecStart=%PREFIX%/bin/pritunl start
SuccessExitStatus=SIGALRM
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
