Source: pritunl
Section: utils
Priority: optional
Maintainer: Pritunl <contact@pritunl.com>
Build-Depends: debhelper (>= 8.0.0),
               python-all (>= 2.7),
               python-setuptools (>= 0.6b3),
               python-flask,
               python-openssl,
               python-pymongo
Standards-Version: 3.9.4
Homepage: http://pritunl.com/
X-Python-Version: >= 2.7
#Vcs-Git: https://github.com/pritunl/pritunl.git
#Vcs-Browser: https://github.com/pritunl/pritunl

Package: pritunl
Architecture: all
Depends: python-flask,
         python-openssl,
         python-pymongo,
         openvpn,
         iptables,
         mongodb-server,
         ${misc:Depends},
         ${python:Depends}
Description: Enterprise VPN Server
 Enterprise vpn server. Documentation and more information can be found at
 pritunl.com
