<div class="hosts-list-header">
  <h1 class="hosts-list-title title">Hosts</h1>
  <div class="hosts-list-buttons">
  </div>
</div>
<div class="alerts-container"></div>
<div class="hosts-list-container">
</div>
<button type="button" class="prev-page btn btn-primary btn-sm">Previous Page</button>
<button type="button" class="next-page btn btn-primary btn-sm">Next Page</button>
<div class="pages no-select">
  <div class="links">
    <a class="link first">First</a>
    <a class="link last">Last</a>
  </div>
</div>
