<div class="subscribe-info form-group">
  <ul class="subscribe-list left">
    <li class="subscribe-title">
      <h2>Premium</h2>
      <div class="label label-success no-select">7 Day Trial</div>
    </li>
    <li data-toggle="tooltip" title="Unlimited users on a single server">Unlimited users</li>
    <li data-toggle="tooltip" title="User configuration is synced with server when connecting from the Pritunl client to update the configuration with any server configuration changes">Configuration sync</li>
    <li data-toggle="tooltip" title="Automatically email user keys with an SMTP server">Email user keys</li>
  </ul>
  <ul class="subscribe-list right">
    <li class="subscribe-title">
      <h2>Enterprise</h2>
      <div class="label label-success no-select">7 Day Trial</div>
    </li>
    <li data-toggle="tooltip" title="Integrate Pritunl with Google Apps to allow users to use their Google business account to authenticate with Pritunl">Single sign-on</li>
    <li data-toggle="tooltip" title="Create server links to give clients access to networks across multiple servers and to create site-to-site vpn networks">Server links</li>
    <li data-toggle="tooltip" title="Run multiple instances of Pritunl. All instances are equal and can run independently in the event of other instances failing. In the event of an instance failure all running vpn servers will automatically fail-over to an available Pritunl instance">Distributed servers</li>
    <li data-toggle="tooltip" title="Create site-to-site VPN configurations">Site-to-site VPN</li>
  </ul>
</div>
<div class="subscribe-activate-form form-group">
  <label>Enter License Key</label><br>
  <textarea class="form-control" rows="7" cols="35" spellcheck="false"></textarea>
</div>
<div class="subscribe-buttons">
  <button type="button" class="subscribe-premium btn btn-info btn-lg">Get Premium</button>
  <button type="button" class="subscribe-enterprise btn btn-info btn-lg">Get Enterprise</button>
  <button type="button" class="subscribe-promo btn btn-warning btn-lg">Enter Promo Code</button>
  <input type="text" class="subscribe-promo-input form-control" placeholder="Enter promo Code" autocapitalize="off">
  <input type="email" class="subscribe-promo-input-email form-control" placeholder="Enter email address" autocapitalize="off">
  <button type="button" class="subscribe-promo-ok btn btn-primary btn-lg">Ok</button>
  <button type="button" class="subscribe-activate btn btn-success btn-lg">Activate Subscription</button>
  <button type="button" class="subscribe-cancel btn btn-danger btn-lg">Cancel</button>
  <button type="button" class="subscribe-submit btn btn-success btn-lg">Submit</button>
</div>
